/* styles.css */
body {
  margin: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffd591; /* Set a background color for the body */
}

nav {
  overflow: hidden;
  display: flex;
  align-items: center; /* Center items vertically */
}

nav a {
  float: left;
  display: block;
  color: rgb(13, 12, 12);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
}

nav a:hover {
  background-color: #ddd;
  color: rgb(255, 255, 255);
}

nav img {
  float: left;
  padding: 10px;
}

.spacer1,
.spacer2 {
  flex-grow: 0.4; /* Use flex-grow to push the following items to the right */
}

input11 {
  border-radius: 20px;
  padding: 8px;
  margin-left: 30px; /* Adjust the value to add space between the "Contact" link and the search box */
  font-size: 20px;
  
  
}

.text1 p {
  font-size: 30px; /* Adjust the value as needed */
}

.text1 {
  display: flex;
  border: 3px ;
  height: 300px;
  width: 300px;
  /* border-style: dotted; */
  display: inline-block;
  margin-top: 250px;
  margin-left: 120px;
  float: left;

}

.circle {
  height: 500px;
  width: 500px;
  background-color: #fa540c;
  border-radius: 50%;
  display: inline-block;
  margin-left: 250px;
  margin-top: 260px;
  float: left;
  z-index: 1;
}

.text2 p {
  font-size: 30px; /* Adjust the value as needed */
}

.text2 {
  display: flex;
  border: 3px ;
  height: 300px;
  width: 300px;
  border-style: dotted;
  display: inline-block;
  margin-top: 10px;
  margin-right: 120px;
  margin-left: 420px;



}



.h1 {
  position: absolute;
  top: 53%; /* Adjust this value to vertically center the image */
  left: 45%; /* Adjust this value to horizontally center the image */
  transform: translate(-50%, -50%); /* Center the image precisely */
  z-index: 2; /* Place the image on top of the circle */
}




.h2
{
    margin-top: 50px;
    margin-bottom: 125px;
    margin-left: 700;
    margin-right:120px ;
    z-index: 2;
    float: none;
}



.search-container {
  position: relative;
  display: inline-block;
}

.search-input {
  border-radius: 20px;
  padding: 8px;
  margin-left: 30px;
  font-size: 20px;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 20px; /* Adjust the size as needed */
}


.rounded-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  border: none;
}

.rounded-button:hover {
  background-color: #333; /* Change the background color on hover if desired */
}